<a href="https://colab.research.google.com/github/AkshayaKakde/Patient-Health-Data-Analysis-and-Recommendation-Reporting-System/blob/main/sales_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("sales_data.csv")
df

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,2/19/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.000000,NaN
1,1,2/20/2016,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.000000,NaN
2,2,2/27/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.000000,NaN
3,3,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.000000,NaN
4,4,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34862,34862,2/7/2016,2016.0,February,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,2.0,1160.00,985.500000,2320.0,1971.000000,NaN
34863,34863,3/13/2015,2015.0,March,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2049.00,1583.000000,2049.0,1583.000000,NaN
34864,34864,4/5/2015,2015.0,April,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,3.0,683.00,560.666667,2049.0,1682.000000,NaN
34865,34865,8/30/2015,2015.0,August,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2320.00,1568.000000,2320.0,1568.000000,NaN
34866,34866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641.532095,NaN

Analysis Questions :
    
What is the overall revenue for the entire dataset?

How does the revenue vary over the years?

What is the average quantity sold per month?

Can you identify the top-selling product categories?

What is the distribution of customer ages in the dataset?

How does the average unit cost and unit price vary by product category?

What is the total cost and revenue for each product category?

Are there any outliers in the quantity sold or unit price?

What is the most common product sub-category sold?

How does the revenue vary by customer gender?

Can you identify the highest revenue-generating states?

What is the average quantity sold per product sub-category?

How has the sales quantity changed over the years?

What is the average unit cost and unit price per state?

Can you identify any seasonality in the sales data?

What is the total revenue for each country?

Are there any correlations between customer age and revenue?

How does the quantity sold vary by product category and sub-category?

What is the distribution of customer ages by gender?

Can you identify any trends in the sales data using a moving average?

What is the percentage contribution of each product category to the total revenue?

How do unit cost and unit price vary by country?

What is the total revenue for each year and month?

Can you identify any patterns in customer purchasing behavior?

What is the average revenue per customer by state?

Are there any significant differences in revenue between countries?

How does the unit price impact the quantity sold?

Can you identify any outliers in the customer age distribution?

What is the average revenue per product category?

How does the revenue vary by month and product category?

What is the average unit cost and unit price per year?

Are there any trends in the sales data based on customer gender?

What is the total revenue for each product sub-category?

How does the sales quantity correlate with unit price?

Can you identify any patterns in customer purchasing over the months?

What is the distribution of customer ages in each state?

How does the revenue vary by year and state?

What is the average revenue per customer by country?

Can you identify any outliers in the cost and revenue columns?

How has the quantity sold changed over the months?

What is the total revenue for each product sub-category and year?

How does the average unit price vary by product sub-category?

Can you identify any patterns in the sales data using a rolling window?

What is the average revenue per customer by product category?

How does the sales quantity vary by state and product category?

What is the total revenue for each state and product category?

Can you identify any correlations between unit cost and unit price?

How does the quantity sold vary by year and product category?

What is the average unit cost and unit price per month?

Can you identify any patterns or anomalies in the 'Column1' column?

What is the overall revenue for the entire dataset?

In [4]:
overall_revenue = df['Revenue'].sum()
print("Overall Revenue:", overall_revenue)

Overall Revenue: 22345217.532095

How does the revenue vary over the years?

In [6]:
revenue_by_year = df.groupby('Year')['Revenue'].sum()
print("Revenue by year")
print(revenue_by_year)

Revenue by year
Year
2015.0     9947771.0
2016.0    12396805.0
Name: Revenue, dtype: float64

What is the average quantity sold per month?

In [7]:
average_quantity_per_month = df.groupby('Month')['Quantity'].mean()
print("Average quantity sold per month:")
print(average_quantity_per_month)

Average quantity sold per month:
Month
April        2.005787
August       2.020399
December     1.990627
February     2.027710
January      1.983488
July         2.005418
June         1.995109
March        2.007924
May          1.988847
November     1.999598
October      2.017619
September    2.000000
Name: Quantity, dtype: float64

Can you identify the top-selling product categories?

In [8]:
top_selling_categories = df.groupby('Product Category')['Quantity'].sum().sort_values(ascending=False)
print("Top-selling product categories:")
print(top_selling_categories)

Top-selling product categories:
Product Category
Accessories    45048.0
Bikes          14291.0
Clothing       10481.0
Name: Quantity, dtype: float64

What is the distribution of customer ages in the dataset?

In [9]:
customer_age_distribution = df['Customer Age'].value_counts()
print("Distribution of customer ages:")
print(customer_age_distribution)

Distribution of customer ages:
31.0    1307
28.0    1277
34.0    1260
29.0    1234
30.0    1204
        ...
87.0       3
80.0       3
74.0       2
76.0       2
82.0       2
Name: Customer Age, Length: 70, dtype: int64

How does the average unit cost and unit price vary by product category?

In [10]:
average_unit_cost_by_category = df.groupby('Product Category')['Unit Cost'].mean()
average_unit_price_by_category = df.groupby('Product Category')['Unit Price'].mean()
print("Average unit cost by product category:")
print(average_unit_cost_by_category)
print("Average unit price by product category:")
print(average_unit_price_by_category)

Average unit cost by product category:
Product Category
Accessories    163.208464
Bikes          952.947884
Clothing       336.311697
Name: Unit Cost, dtype: float64
Average unit price by product category:
Product Category
Accessories    200.457368
Bikes          981.508224
Clothing       399.319654
Name: Unit Price, dtype: float64

What is the total cost and revenue for each product category?

In [11]:
total_cost_revenue_by_category = df.groupby('Product Category').agg({'Cost': 'sum', 'Revenue': 'sum'})
print("Total cost and revenue by product category:")
print(total_cost_revenue_by_category)

Total cost and revenue by product category:
                        Cost     Revenue
Product Category
Accessories        6041895.0   7420664.0
Bikes             11148754.0  11486355.0
Clothing           2892325.0   3437557.0

Are there any outliers in the quantity sold or unit price?

In [12]:
from scipy import stats
z_scores = np.abs(stats.zscore(df[['Quantity', 'Unit Price']]))
outliers = df[(z_scores > 3).any(axis=1)]
print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [index, Date, Year, Month, Customer Age, Customer Gender, Country, State, Product Category, Sub Category, Quantity, Unit Cost, Unit Price, Cost, Revenue, Column1]
Index: []

What is the most common product sub-category sold?

In [13]:
most_common_sub_category = df['Sub Category'].mode()[0]
print("Most common product sub-category sold:", most_common_sub_category)

Most common product sub-category sold: Tires and Tubes

How does the revenue vary by customer gender?

In [14]:
revenue_by_gender = df.groupby('Customer Gender')['Revenue'].sum()
print("Revenue by customer gender:")
print(revenue_by_gender)

Revenue by customer gender:
Customer Gender
F    10932634.0
M    11411942.0
Name: Revenue, dtype: float64

Can you identify the highest revenue-generating states?

In [15]:
highest_revenue_states = df.groupby('State')['Revenue'].sum().sort_values(ascending=False)
print("Highest revenue-generating states:")
print(highest_revenue_states)

Highest revenue-generating states:
State
California             6076916.0
England                4276220.0
Washington             2873511.0
Oregon                 1383186.0
Saarland               1055844.0
Nordrhein-Westfalen     931677.0
Hessen                  917107.0
Seine (Paris)           719148.0
Hamburg                 714036.0
Bayern                  537408.0
Seine Saint Denis       520378.0
Nord                    512872.0
Hauts de Seine          350065.0
Essonne                 337567.0
Yveline                 316550.0
Seine et Marne          132927.0
Moselle                 120770.0
Loiret                  118555.0
Brandenburg              88438.0
Val d'Oise               76242.0
Garonne (Haute)          69687.0
Val de Marne             42815.0
Charente-Maritime        37867.0
Somme                    36036.0
Loir et Cher             31587.0
Pas de Calais            23038.0
Ohio                      7596.0
Illinois                  5029.0
Texas                     4004.0
Florida                   3561.0
New York                  3554.0
Utah                      2764.0
Wyoming                   2314.0
Minnesota                 2161.0
Mississippi               2038.0
Arizona                   2020.0
Massachusetts             1975.0
Kentucky                  1747.0
Montana                   1479.0
Alabama                   1214.0
Virginia                   932.0
Missouri                   767.0
South Carolina             640.0
Georgia                    204.0
North Carolina             130.0
Name: Revenue, dtype: float64

What is the average quantity sold per product sub-category?

In [16]:
average_quantity_per_sub_category = df.groupby('Sub Category')['Quantity'].mean()
print("Average quantity sold per product sub-category:")
print(average_quantity_per_sub_category)

Average quantity sold per product sub-category:
Sub Category
Bike Racks           1.980583
Bike Stands          2.096552
Bottles and Cages    1.993957
Caps                 1.990771
Cleaners             2.022018
Fenders              1.960630
Gloves               1.902083
Helmets              2.008381
Hydration Packs      1.984848
Jerseys              2.016500
Mountain Bikes       2.009134
Road Bikes           2.024818
Shorts               1.994700
Socks                2.060440
Tires and Tubes      1.999010
Touring Bikes        2.003748
Vests                2.038462
Name: Quantity, dtype: float64

How has the sales quantity changed over the years?

In [17]:
sales_quantity_by_year = df.groupby('Year')['Quantity'].sum()
print("Sales quantity by year:")
print(sales_quantity_by_year)

Sales quantity by year:
Year
2015.0    30063.0
2016.0    39757.0
Name: Quantity, dtype: float64

What is the average unit cost and unit price per state?

In [18]:
average_unit_cost_by_state = df.groupby('State')['Unit Cost'].mean()
average_unit_price_by_state = df.groupby('State')['Unit Price'].mean()
print("Average unit cost by state:")
print(average_unit_cost_by_state)
print("Average unit price by state:")
print(average_unit_price_by_state)

Average unit cost by state:
State
Alabama                 167.000000
Arizona                 361.415000
Bayern                  372.962874
Brandenburg             418.319043
California              333.655897
Charente-Maritime       345.552143
England                 371.717679
Essonne                 412.180237
Florida                 218.761429
Garonne (Haute)         417.605100
Georgia                  43.750000
Hamburg                 392.332117
Hauts de Seine          391.307682
Hessen                  385.012959
Illinois                161.000000
Kentucky                319.500000
Loir et Cher            284.038070
Loiret                  369.733034
Massachusetts          1024.500000
Minnesota               481.890000
Mississippi             661.250000
Missouri                332.500000
Montana                 538.750000
Moselle                 394.909558
New York                172.833000
Nord                    363.680356
Nordrhein-Westfalen     384.783228
North Carolina           46.500000
Ohio                    437.026154
Oregon                  322.233520
Pas de Calais           272.095238
Saarland                391.704188
Seine (Paris)           371.028919
Seine Saint Denis       357.443794
Seine et Marne          421.703005
Somme                   366.590164
South Carolina           59.234000
Texas                   157.868571
Utah                    342.500000
Val d'Oise              293.284462
Val de Marne            334.524667
Virginia                149.165000
Washington              308.386626
Wyoming                 318.110000
Yveline                 395.480611
Name: Unit Cost, dtype: float64
Average unit price by state:
State
Alabama                202.333334
Arizona                342.583333
Bayern                 486.928643
Brandenburg            541.757092
California             357.182169
Charente-Maritime      322.104762
England                402.691663
Essonne                450.159857
Florida                224.309524
Garonne (Haute)        459.171667
Georgia                 51.000000
Hamburg                499.571922
Hauts de Seine         424.365095
Hessen                 498.446193
Illinois               167.523809
Kentucky               382.250000
Loir et Cher           315.710526
Loiret                 402.200375
Massachusetts          987.500000
Minnesota              561.888889
Mississippi            739.250000
Missouri               383.500000
Montana                589.500000
Moselle                434.177716
New York               196.533333
Nord                   386.720669
Nordrhein-Westfalen    499.608027
North Carolina          51.666666
Ohio                   485.884615
Oregon                 345.987599
Pas de Calais          315.611111
Saarland               505.783605
Seine (Paris)          400.459096
Seine Saint Denis      386.085008
Seine et Marne         456.628415
Somme                  387.890710
South Carolina          75.133333
Texas                  178.773809
Utah                   358.000000
Val d'Oise             324.029487
Val de Marne           364.980000
Virginia               180.666666
Washington             332.299321
Wyoming                306.000000
Yveline                432.447964
Name: Unit Price, dtype: float64

Can you identify any seasonality in the sales data?

In [19]:
monthly_sales = df.groupby('Month')['Quantity'].sum()
print("Monthly sales:")
print(monthly_sales)

Monthly sales:
Month
April        6585.0
August       4655.0
December     6796.0
February     5854.0
January      5766.0
July         4442.0
June         7342.0
March        6335.0
May          7311.0
November     4975.0
October      5153.0
September    4606.0
Name: Quantity, dtype: float64

What is the total revenue for each country?

In [20]:
total_revenue_by_country = df.groupby('Country')['Revenue'].sum()
print("Total revenue by country:")
print(total_revenue_by_country)

Total revenue by country:
Country
France             3446104.0
Germany            4244510.0
United Kingdom     4276220.0
United States     10377742.0
Name: Revenue, dtype: float64

Are there any correlations between customer age and revenue?

In [21]:
correlation_age_revenue = df['Customer Age'].corr(df['Revenue'])
print("Correlation between customer age and revenue:", correlation_age_revenue)

Correlation between customer age and revenue: 0.024836408877530563

How does the quantity sold vary by product category and sub-category?

In [22]:
quantity_sold_category_sub_category = df.groupby(['Product Category', 'Sub Category'])['Quantity'].sum()
print("Quantity sold by product category and sub-category:")
print(quantity_sold_category_sub_category)

Quantity sold by product category and sub-category:
Product Category  Sub Category
Accessories       Bike Racks             204.0
                  Bike Stands            304.0
                  Bottles and Cages    10558.0
                  Cleaners              1102.0
                  Fenders               1494.0
                  Helmets               8387.0
                  Hydration Packs        786.0
                  Tires and Tubes      22213.0
Bikes             Mountain Bikes        5499.0
                  Road Bikes            6119.0
                  Touring Bikes         2673.0
Clothing          Caps                  3020.0
                  Gloves                 913.0
                  Jerseys               4033.0
                  Shorts                1129.0
                  Socks                  750.0
                  Vests                  636.0
Name: Quantity, dtype: float64

What is the distribution of customer ages by gender?

In [23]:
customer_age_distribution_by_gender = df.groupby('Customer Gender')['Customer Age'].value_counts()
print("Distribution of customer ages by gender:")
print(customer_age_distribution_by_gender)

Distribution of customer ages by gender:
Customer Gender  Customer Age
F                31.0            645
                 29.0            634
                 33.0            620
                 28.0            609
                 30.0            591
                                ...
M                74.0              2
                 76.0              2
                 81.0              2
                 84.0              2
                 86.0              2
Name: Customer Age, Length: 132, dtype: int64

Can you identify any trends in the sales data using a moving average?

In [24]:
df['Moving Average'] = df['Revenue'].rolling(window=3).mean()
print("Trend in sales data using moving average:")
print(df[['Revenue', 'Moving Average']])

Trend in sales data using moving average:
           Revenue  Moving Average
0       109.000000             NaN
1        57.000000             NaN
2        15.000000       60.333333
3       233.000000      101.666667
4       125.000000      124.333333
...            ...             ...
34862  1971.000000     1510.000000
34863  1583.000000     1680.333333
34864  1682.000000     1745.333333
34865  1568.000000     1611.000000
34866   641.532095     1297.177365

[34867 rows x 2 columns]

What is the percentage contribution of each product category to the total revenue?

In [25]:
percentage_contribution = (df.groupby('Product Category')['Revenue'].sum() / df['Revenue'].sum()) * 100
print("Percentage contribution of each product category to total revenue:")
print(percentage_contribution)

Percentage contribution of each product category to total revenue:
Product Category
Accessories    33.209182
Bikes          51.404087
Clothing       15.383860
Name: Revenue, dtype: float64

How do unit cost and unit price vary by country?

In [ ]:
average_unit_cost_by_country = df.groupby('Country')['Unit Cost'].mean()
average_unit_price_by_country = df.groupby('Country')['Unit Price'].mean()
print("Average unit cost by country:")
print(average_unit_cost_by_country)
print("Average unit price by country:")
print(average_unit_price_by_country)

What is the total revenue for each year and month?

In [26]:
total_revenue_year_month = df.groupby(['Year', 'Month'])['Revenue'].sum()
print("Total revenue for each year and month:")
print(total_revenue_year_month)

Total revenue for each year and month:
Year    Month
2015.0  April         284143.0
        August       1248185.0
        December     2116097.0
        February      259857.0
        January       230549.0
        July          789054.0
        June          337756.0
        March         250358.0
        May           320629.0
        November     1438928.0
        October      1376969.0
        September    1295246.0
2016.0  April        1916347.0
        February     1734376.0
        January      1720072.0
        July          491612.0
        June         2344229.0
        March        1884978.0
        May          2305191.0
Name: Revenue, dtype: float64

Can you identify any patterns in customer purchasing behavior?

In [27]:
repeat_purchases = df.groupby('Customer Age').filter(lambda x: len(x) > 1)
print("Patterns in customer purchasing behavior (repeat purchases):")
print(repeat_purchases)

Patterns in customer purchasing behavior (repeat purchases):
       index       Date    Year     Month  Customer Age Customer Gender  \
0          0  2/19/2016  2016.0  February          29.0               F
1          1  2/20/2016  2016.0  February          29.0               F
2          2  2/27/2016  2016.0  February          29.0               F
3          3  3/12/2016  2016.0     March          29.0               F
4          4  3/12/2016  2016.0     March          29.0               F
...      ...        ...     ...       ...           ...             ...
34861  34861  3/22/2015  2015.0     March          38.0               M
34862  34862   2/7/2016  2016.0  February          38.0               M
34863  34863  3/13/2015  2015.0     March          38.0               M
34864  34864   4/5/2015  2015.0     April          38.0               M
34865  34865  8/30/2015  2015.0    August          38.0               M

             Country              State Product Category     Sub Category  \
0      United States         Washington      Accessories  Tires and Tubes
1      United States         Washington         Clothing           Gloves
2      United States         Washington      Accessories  Tires and Tubes
3      United States         Washington      Accessories  Tires and Tubes
4      United States         Washington      Accessories  Tires and Tubes
...              ...                ...              ...              ...
34861         France  Charente-Maritime            Bikes   Mountain Bikes
34862         France     Hauts de Seine            Bikes   Mountain Bikes
34863         France     Hauts de Seine            Bikes   Mountain Bikes
34864         France     Hauts de Seine            Bikes   Mountain Bikes
34865         France     Hauts de Seine            Bikes   Mountain Bikes

       Quantity  Unit Cost   Unit Price    Cost  Revenue  Column1  \
0           1.0      80.00   109.000000    80.0    109.0      NaN
1           2.0      24.50    28.500000    49.0     57.0      NaN
2           3.0       3.67     5.000000    11.0     15.0      NaN
3           2.0      87.50   116.500000   175.0    233.0      NaN
4           3.0      35.00    41.666667   105.0    125.0      NaN
...         ...        ...          ...     ...      ...      ...
34861       1.0    2049.00  1487.000000  2049.0   1487.0      NaN
34862       2.0    1160.00   985.500000  2320.0   1971.0      NaN
34863       1.0    2049.00  1583.000000  2049.0   1583.0      NaN
34864       3.0     683.00   560.666667  2049.0   1682.0      NaN
34865       1.0    2320.00  1568.000000  2320.0   1568.0      NaN

       Moving Average
0                 NaN
1                 NaN
2           60.333333
3          101.666667
4          124.333333
...               ...
34861     1627.666667
34862     1510.000000
34863     1680.333333
34864     1745.333333
34865     1611.000000

[34866 rows x 17 columns]

What is the average revenue per customer by state?

In [28]:
average_revenue_per_customer_state = df.groupby('State')['Revenue'].mean()
print("Average revenue per customer by state:")
print(average_revenue_per_customer_state)

Average revenue per customer by state:
State
Alabama                 607.000000
Arizona                1010.000000
Bayern                  804.502994
Brandenburg             940.829787
California              588.164537
Charente-Maritime       540.957143
England                 665.974147
Essonne                 725.950538
Florida                 508.714286
Garonne (Haute)         696.870000
Georgia                 102.000000
Hamburg                 821.675489
Hauts de Seine          687.750491
Hessen                  824.736511
Illinois                359.214286
Kentucky                436.750000
Loir et Cher            554.157895
Loiret                  666.039326
Massachusetts          1975.000000
Minnesota               720.333333
Mississippi            1019.000000
Missouri                767.000000
Montana                 739.500000
Moselle                 667.237569
New York                355.400000
Nord                    651.679797
Nordrhein-Westfalen     795.625107
North Carolina           65.000000
Ohio                    584.307692
Oregon                  565.488962
Pas de Calais           548.523810
Saarland                820.391608
Seine (Paris)           658.560440
Seine Saint Denis       653.741206
Seine et Marne          726.377049
Somme                   590.754098
South Carolina          128.000000
Texas                   286.000000
Utah                    552.800000
Val d'Oise              586.476923
Val de Marne            570.866667
Virginia                466.000000
Washington              552.173520
Wyoming                 771.333333
Yveline                 716.176471
Name: Revenue, dtype: float64

Are there any significant differences in revenue between countries?

In [29]:
revenue_by_country = df.groupby('Country')['Revenue'].describe()
print("Revenue statistics by country:")
print(revenue_by_country)

Revenue statistics by country:
                  count        mean         std  min    25%    50%     75%  \
Country
France           5168.0  666.815789  758.572276  2.0  102.0  361.0   945.0
Germany          5201.0  816.094982  894.975907  3.0  132.0  462.0  1158.0
United Kingdom   6421.0  665.974147  742.399726  2.0  106.0  355.0   948.0
United States   18076.0  574.117172  665.077542  2.0   94.0  271.5   809.0

                   max
Country
France          3681.0
Germany         5082.0
United Kingdom  4113.0
United States   4923.0

How does the unit price impact the quantity sold?

In [30]:
correlation_unit_price_quantity = df['Unit Price'].corr(df['Quantity'])
print("Correlation between unit price and quantity sold:", correlation_unit_price_quantity)

Correlation between unit price and quantity sold: -0.324109007166521

Can you identify any outliers in the customer age distribution?

In [31]:
z_scores_age = np.abs(stats.zscore(df['Customer Age']))
outliers_age = df[(z_scores_age > 3)]
print("Outliers in customer age distribution:")
print(outliers_age)

Outliers in customer age distribution:
Empty DataFrame
Columns: [index, Date, Year, Month, Customer Age, Customer Gender, Country, State, Product Category, Sub Category, Quantity, Unit Cost, Unit Price, Cost, Revenue, Column1, Moving Average]
Index: []

What is the average revenue per product category?

In [32]:
average_revenue_per_category = df.groupby('Product Category')['Revenue'].mean()
print("Average revenue per product category:")
print(average_revenue_per_category)

Average revenue per product category:
Product Category
Accessories     329.309665
Bikes          1619.393064
Clothing        656.147547
Name: Revenue, dtype: float64

How does the revenue vary by month and product category?

In [33]:
revenue_by_month_category = df.groupby(['Month', 'Product Category'])['Revenue'].sum()
print("Revenue by month and product category:")
print(revenue_by_month_category)

Revenue by month and product category:
Month      Product Category
April      Accessories          702555.0
           Bikes               1158125.0
           Clothing             339810.0
August     Accessories          493068.0
           Bikes                537102.0
           Clothing             218015.0
December   Accessories          677084.0
           Bikes               1115613.0
           Clothing             323400.0
February   Accessories          635698.0
           Bikes               1090911.0
           Clothing             267624.0
January    Accessories          641185.0
           Bikes               1005004.0
           Clothing             304432.0
July       Accessories          499945.0
           Bikes                564856.0
           Clothing             215865.0
June       Accessories          779925.0
           Bikes               1537564.0
           Clothing             364496.0
March      Accessories          695842.0
           Bikes               1136532.0
           Clothing             302962.0
May        Accessories          794374.0
           Bikes               1477413.0
           Clothing             354033.0
November   Accessories          503157.0
           Bikes                691741.0
           Clothing             244030.0
October    Accessories          507744.0
           Bikes                614888.0
           Clothing             254337.0
September  Accessories          490087.0
           Bikes                556606.0
           Clothing             248553.0
Name: Revenue, dtype: float64

What is the average unit cost and unit price per year?

In [34]:
average_unit_cost_by_year = df.groupby('Year')['Unit Cost'].mean()
average_unit_price_by_year = df.groupby('Year')['Unit Price'].mean()
print("Average unit cost by year:")
print(average_unit_cost_by_year)
print("Average unit price by year:")
print(average_unit_price_by_year)

Average unit cost by year:
Year
2015.0    391.138796
2016.0    318.658854
Name: Unit Cost, dtype: float64
Average unit price by year:
Year
2015.0    402.897164
2016.0    378.891890
Name: Unit Price, dtype: float64

Are there any trends in the sales data based on customer gender?

In [35]:
revenue_by_gender_trend = df.groupby(['Year', 'Customer Gender'])['Revenue'].sum()
print("Trends in sales data based on customer gender:")
print(revenue_by_gender_trend)

Trends in sales data based on customer gender:
Year    Customer Gender
2015.0  F                  5051536.0
        M                  4896235.0
2016.0  F                  5881098.0
        M                  6515707.0
Name: Revenue, dtype: float64

What is the total revenue for each product sub-category?

In [36]:
total_revenue_by_sub_category = df.groupby('Sub Category')['Revenue'].sum()
print("Total revenue for each product sub-category:")
print(total_revenue_by_sub_category)

Total revenue for each product sub-category:
Sub Category
Bike Racks            140854.0
Bike Stands           150911.0
Bottles and Cages     709407.0
Caps                  255992.0
Cleaners               82887.0
Fenders               329204.0
Gloves                228353.0
Helmets              2738210.0
Hydration Packs       403276.0
Jerseys              1834110.0
Mountain Bikes       5176456.0
Road Bikes           3921989.0
Shorts                689184.0
Socks                  61237.0
Tires and Tubes      2865915.0
Touring Bikes        2387910.0
Vests                 368681.0
Name: Revenue, dtype: float64

How does the sales quantity correlate with unit price?

In [37]:
correlation_quantity_unit_price = df['Quantity'].corr(df['Unit Price'])
print("Correlation between sales quantity and unit price:", correlation_quantity_unit_price)

Correlation between sales quantity and unit price: -0.32410900716652097

Can you identify any patterns in customer purchasing over the months?

In [38]:
average_revenue_per_month = df.groupby('Month')['Revenue'].mean()
print("Patterns in customer purchasing over the months:")
print(average_revenue_per_month)

Patterns in customer purchasing over the months:
Month
April        670.268048
August       541.746962
December     619.829233
February     690.763076
January      671.008256
July         578.178781
June         728.800272
March        676.810143
May          714.314472
November     578.347267
October      539.142130
September    562.416848
Name: Revenue, dtype: float64

What is the distribution of customer ages in each state?

In [39]:
customer_age_distribution_by_state = df.groupby('State')['Customer Age'].value_counts()
print("Distribution of customer ages in each state:")
print(customer_age_distribution_by_state)

Distribution of customer ages in each state:
State    Customer Age
Alabama  40.0             2
Arizona  24.0             1
         32.0             1
Bayern   30.0            41
         29.0            34
                         ..
Yveline  86.0             2
         48.0             1
         54.0             1
         61.0             1
         75.0             1
Name: Customer Age, Length: 997, dtype: int64

How does the revenue vary by year and state?

In [40]:
revenue_by_year_state = df.groupby(['Year', 'State'])['Revenue'].sum()
print("Revenue by year and state:")
print(revenue_by_year_state)

Revenue by year and state:
Year    State
2015.0  Alabama              59.0
        Arizona            2020.0
        Bayern           214732.0
        Brandenburg       43079.0
        California      2807764.0
                          ...
2016.0  Val de Marne      25685.0
        Virginia            932.0
        Washington      1581007.0
        Wyoming             140.0
        Yveline          200599.0
Name: Revenue, Length: 79, dtype: float64

What is the average revenue per customer by country?

In [41]:
average_revenue_per_customer_country = df.groupby('Country')['Revenue'].mean()
print("Average revenue per customer by country:")
print(average_revenue_per_customer_country)

Average revenue per customer by country:
Country
France            666.815789
Germany           816.094982
United Kingdom    665.974147
United States     574.117172
Name: Revenue, dtype: float64

Can you identify any outliers in the cost and revenue columns?

In [42]:
z_scores_cost_revenue = np.abs(stats.zscore(df[['Cost', 'Revenue']]))
outliers_cost_revenue = df[(z_scores_cost_revenue > 3).any(axis=1)]
print("Outliers in cost and revenue columns:")
print(outliers_cost_revenue)

Outliers in cost and revenue columns:
       index        Date    Year    Month  Customer Age Customer Gender  \
314      314   1/18/2016  2016.0  January          40.0               M
327      327    6/6/2016  2016.0     June          40.0               M
378      378   3/19/2016  2016.0    March          41.0               M
381      381   6/13/2016  2016.0     June          41.0               M
874      874  10/21/2015  2015.0  October          43.0               F
...      ...         ...     ...      ...           ...             ...
33438  33438   5/17/2016  2016.0      May          28.0               F
33583  33583   6/19/2016  2016.0     June          40.0               M
33761  33761    5/7/2016  2016.0      May          24.0               F
33976  33976   1/22/2016  2016.0  January          44.0               F
33979  33979   1/29/2016  2016.0  January          44.0               F

             Country                State Product Category    Sub Category  \
314           France              Yveline            Bikes  Mountain Bikes
327           France              Yveline            Bikes   Touring Bikes
378          Germany               Hessen            Bikes   Touring Bikes
381          Germany               Hessen            Bikes      Road Bikes
874          Germany               Bayern            Bikes      Road Bikes
...              ...                  ...              ...             ...
33438         France       Seine et Marne            Bikes  Mountain Bikes
33583  United States           Washington      Accessories      Bike Racks
33761         France              Essonne            Bikes  Mountain Bikes
33976        Germany  Nordrhein-Westfalen            Bikes      Road Bikes
33979        Germany             Saarland            Bikes      Road Bikes

       Quantity  Unit Cost   Unit Price    Cost  Revenue  Column1  \
314         2.0    1160.00  1511.500000  2320.0   3023.0   3023.0
327         3.0     794.67   983.000000  2384.0   2949.0   2949.0
378         1.0    2384.00  2988.000000  2384.0   2988.0    900.0
381         3.0     814.33  1139.666667  2443.0   3419.0     67.0
874         1.0    2443.00  2927.000000  2443.0   2927.0    819.0
...         ...        ...          ...     ...      ...      ...
33438       2.0    1147.50  1495.000000  2295.0   2990.0      NaN
33583       3.0    1080.00  1405.333333  3240.0   4216.0      NaN
33761       1.0    2295.00  3423.000000  2295.0   3423.0      NaN
33976       2.0    1221.50  1625.500000  2443.0   3251.0      NaN
33979       2.0    1221.50  1591.500000  2443.0   3183.0      NaN

       Moving Average
314       1930.333333
327       1317.666667
378       1370.000000
381       1570.000000
874       1504.000000
...               ...
33438     1739.333333
33583     2253.000000
33761     1826.666667
33976     1181.333333
33979     2646.000000

[374 rows x 17 columns]

How has the quantity sold changed over the months?

In [43]:
quantity_sold_by_month = df.groupby('Month')['Quantity'].sum()
print("Quantity sold by month:")
print(quantity_sold_by_month)

Quantity sold by month:
Month
April        6585.0
August       4655.0
December     6796.0
February     5854.0
January      5766.0
July         4442.0
June         7342.0
March        6335.0
May          7311.0
November     4975.0
October      5153.0
September    4606.0
Name: Quantity, dtype: float64

What is the total revenue for each product sub-category and year?

In [44]:
total_revenue_sub_category_year = df.groupby(['Sub Category', 'Year'])['Revenue'].sum()
print("Total revenue for each product sub-category and year:")
print(total_revenue_sub_category_year)

Total revenue for each product sub-category and year:
Sub Category       Year
Bike Racks         2016.0     140854.0
Bike Stands        2015.0      74321.0
                   2016.0      76590.0
Bottles and Cages  2015.0     269824.0
                   2016.0     439583.0
Caps               2015.0     100875.0
                   2016.0     155117.0
Cleaners           2015.0      34343.0
                   2016.0      48544.0
Fenders            2016.0     329204.0
Gloves             2016.0     228353.0
Helmets            2015.0    1098413.0
                   2016.0    1639797.0
Hydration Packs    2015.0     159820.0
                   2016.0     243456.0
Jerseys            2015.0     756606.0
                   2016.0    1077504.0
Mountain Bikes     2015.0    2496833.0
                   2016.0    2679623.0
Road Bikes         2015.0    2318037.0
                   2016.0    1603952.0
Shorts             2015.0     317510.0
                   2016.0     371674.0
Socks              2015.0      22770.0
                   2016.0      38467.0
Tires and Tubes    2015.0    1189046.0
                   2016.0    1676869.0
Touring Bikes      2015.0     949228.0
                   2016.0    1438682.0
Vests              2015.0     160145.0
                   2016.0     208536.0
Name: Revenue, dtype: float64

How does the average unit price vary by product sub-category?

In [45]:
average_unit_price_by_sub_category = df.groupby('Sub Category')['Unit Price'].mean()
print("Average unit price by product sub-category:")
print(average_unit_price_by_sub_category)

Average unit price by product sub-category:
Sub Category
Bike Racks            885.839806
Bike Stands           612.243678
Bottles and Cages      81.944319
Caps                  104.151395
Cleaners               92.452294
Fenders               276.916885
Gloves                299.732986
Helmets               395.600655
Hydration Packs       630.190236
Jerseys               553.080333
Mountain Bikes       1149.457070
Road Bikes            781.171575
Shorts                753.058598
Socks                  97.614927
Tires and Tubes       156.606686
Touring Bikes        1090.759620
Vests                 712.315705
Name: Unit Price, dtype: float64

Can you identify any patterns in the sales data using a rolling window?

In [46]:
rolling_average_revenue = df['Revenue'].rolling(window=3).mean()
print("Patterns in the sales data using a rolling window:")
print(rolling_average_revenue)

Patterns in the sales data using a rolling window:
0                NaN
1                NaN
2          60.333333
3         101.666667
4         124.333333
            ...
34862    1510.000000
34863    1680.333333
34864    1745.333333
34865    1611.000000
34866    1297.177365
Name: Revenue, Length: 34867, dtype: float64

What is the average revenue per customer by product category?

In [47]:
average_revenue_per_customer_category = df.groupby('Product Category')['Revenue'].mean()
print("Average revenue per customer by product category:")
print(average_revenue_per_customer_category)

Average revenue per customer by product category:
Product Category
Accessories     329.309665
Bikes          1619.393064
Clothing        656.147547
Name: Revenue, dtype: float64

How does the sales quantity vary by state and product category?

In [48]:
quantity_sold_by_state_category = df.groupby(['State', 'Product Category'])['Quantity'].sum()
print("Sales quantity by state and product category:")
print(quantity_sold_by_state_category)

Sales quantity by state and product category:
State    Product Category
Alabama  Accessories           6.0
Arizona  Accessories           2.0
         Bikes                 3.0
Bayern   Accessories         809.0
         Bikes               355.0
                             ...
Wyoming  Bikes                 3.0
         Clothing              1.0
Yveline  Accessories         566.0
         Bikes               215.0
         Clothing            114.0
Name: Quantity, Length: 112, dtype: float64

What is the total revenue for each state and product category?

In [49]:
total_revenue_state_category = df.groupby(['State', 'Product Category'])['Revenue'].sum()
print("Total revenue for each state and product category:")
print(total_revenue_state_category)

Total revenue for each state and product category:
State    Product Category
Alabama  Accessories           1214.0
Arizona  Accessories             71.0
         Bikes                 1949.0
Bayern   Accessories         165207.0
         Bikes               317712.0
                               ...
Wyoming  Bikes                 2094.0
         Clothing               140.0
Yveline  Accessories          97325.0
         Bikes               188739.0
         Clothing             30486.0
Name: Revenue, Length: 112, dtype: float64

Can you identify any correlations between unit cost and unit price?

In [50]:
correlation_unit_cost_unit_price = df['Unit Cost'].corr(df['Unit Price'])
print("Correlation between unit cost and unit price:", correlation_unit_cost_unit_price)

Correlation between unit cost and unit price: 0.9810325127553657

How does the quantity sold vary by year and product category?

In [51]:
quantity_sold_by_year_category = df.groupby(['Year', 'Product Category'])['Quantity'].sum()
print("Sales quantity by year and product category:")
print(quantity_sold_by_year_category)

Sales quantity by year and product category:
Year    Product Category
2015.0  Accessories         18433.0
        Bikes                7482.0
        Clothing             4148.0
2016.0  Accessories         26615.0
        Bikes                6809.0
        Clothing             6333.0
Name: Quantity, dtype: float64

What is the average unit cost and unit price per month?

In [52]:
average_unit_cost_by_month = df.groupby('Month')['Unit Cost'].mean()
average_unit_price_by_month = df.groupby('Month')['Unit Price'].mean()
print("Average unit cost by month:")
print(average_unit_cost_by_month)
print("Average unit price by month:")
print(average_unit_price_by_month)

Average unit cost by month:
Month
April        349.511666
August       312.070477
December     363.762607
February     363.155920
January      353.736533
July         324.040429
June         384.244571
March        354.298634
May          380.146474
November     339.064072
October      303.526308
September    324.816361
Name: Unit Cost, dtype: float64
Average unit price by month:
Month
April        404.558585
August       328.680122
December     376.063904
February     416.473560
January      411.385965
July         358.119639
June         441.809194
March        411.424459
May          438.613756
November     351.941452
October      319.416993
September    339.770806
Name: Unit Price, dtype: float64

Can you identify any patterns or anomalies in the 'Column1' column?

In [53]:
column1_unique_values = df['Column1'].unique()
print("Unique values in 'Column1':")
print(column1_unique_values)

Unique values in 'Column1':
[        nan 2370.        398.       ... 1971.       1568.
  687.344828]